@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


$colors : (
    primary: rgba(230, 230, 230, 0.973),
    header: #FFFFFF,
    font-primary: #1e234b,
    widget-background: #FFFFFF,
    font-primary-1: #8287ad,
    success:   #009c3c,
    button-primary:  #be3512
);
$padding: 15px;
$boarders: 15px;
$menu-font-size: 15px;
$max-width: 790px;
$mid-width: 1250px;
$small-width: 960px;


@function color($color-name){
    @return map-get($colors , $color-name );
}

body, html {
    height: 100%;
}

body {
    
    margin: 0px;
    font-family: "Noto Sans",sans-serif;
    color: color(font-primary);

    #bg {
        clip-path: polygon(0 0, 78% 0, 28% 100%, 0% 100%);
        background-color: color(primary);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -100;
    }
}

.header {
    background-color:color(header);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    padding: $padding;
    width: 97.8%;

    a:link{
        color: color(font-primary);
        text-decoration: none;
    }

    h2{
        margin: 10px;
        font-weight: 800;
    }
    .logo-title {
        @media only screen and (max-width: $max-width) {
            display:none;
        }
        
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col-1 {
    flex: 1;
}

.col-6{
    flex:6;
}

.col-3 {
    flex: 1.6;
}

.move-right{
    text-align: right;
}
.move-left{
    text-align: left;
}

.button-default {
    color: white;
    background-color: color(button-primary);
    border-width: 2px;
    border-color: color(button-primary);
}


.button-success {
    color: white;
    background-color: color(success);
    border-width: 2px;
    border-color: color(success);
}

.btn{
    border-radius: 60px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    i{
        display: none;
    }
}

.inpt{
    border-radius: 60px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    border-width: 2px;
    border-color: color(button-primary);;
}

button{
    margin: 10px 5px;
}

input{
    margin: 10px 5px;
}
.form-elm-3 {
    min-width: 400px;
}
.form-elm-2 {
    min-width: 200px;
}
.widget-small{
    min-width: 10%;
    display: flex;
    flex-grow: 1;
    background-color: color(widget-background);
    margin: 10px;
    padding: 20px;
    font-family: "Montserrat",sans-serif;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

}

.widget-icon{
    font-size: 4rem;
    margin: 0px 10px 0px 15%;
    text-align: right;
   
}

.widget-description{
    flex: 1;
    font-size: 1rem;
    align-self: center;
    font-weight: 500;
    line-height: 1.5;
    padding-right: 10px;
}

.widget-subtitle{
    color: color(font-primary-1);
    font-size: 13px;
}

.icon-button-default{
    vertical-align: middle;
    margin-left: 10px;
    font-size: 25px;
}

.admin-container{
  display: flex;
  height: 100%;
}
.admin-body-container{
  margin: 10px 0px 0px 10px;
}

.sidebar-menu{
  background-color:#1E224B;
  min-width: 10%;
  
  ul {
    list-style: none;
    padding: 5px 20px 0px 20px;
    margin-top: 0px;
    li {
      margin-top: 10px;
      a {
        color: white;
        font-size: $menu-font-size;
        text-decoration: none;
      }
    }
  }
}

.link{
    color: white;
}


.widget-post{
    max-width: 28%;
    display: flex;
    flex-grow: 1;
    background-color: color(widget-background);
    margin: 10px;
    padding: 20px;
    font-family: "Montserrat",sans-serif;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);

    .widget-image{
        width: 12rem;
        height: 10rem;
        float: left;
        background-color: #f1fdf586;
    }
    .widget-post-details{
        float: left;
        min-width: 15rem;
        margin-left: 10px;
    }
    .box-description{
        width: 95%;
    }
}

.public-footer {
    display: none;
}
@media only screen and (max-width: $mid-width) {
    .widget-post{
        max-width: 42%;
    }
}

@media only screen and (max-width: $small-width) {
    .widget-post{
        min-width: 88%;
    }
}
    

@media only screen and (max-width: $max-width) {
    .header{
        .btn {
            .text {
                display: none;
            }
            i{
               display: inline;
            }
        }
        .header-login{
            display: none;
        }
    }

    /* Place the navbar at the bottom of the page, and make it stick */

    .public-footer {
        display: inline;
        .navbar {
            background-color: color(button-primary);
            overflow: hidden;
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            
          }
          
          /* Style the links inside the navigation bar */
          .navbar i {
            flex: 1;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 22px;
            margin: auto;
          }
          
          /* Change the color of links on hover */
          .navbar a:hover {
            background-color: #ddd;
            color: black;
          }
          
          /* Add a color to the active/current link */
          .navbar a.active {
            background-color: #4CAF50;
            color: white;
          }
    }
}

.widget-rating {
    margin: 5px 0px 5px 5px;
    .rating-label{
        margin-right: 10px;
    }
}

.star-checked{
    color:orange;
}

.widget-title-1{
    font-size: 1.5em;
    margin: 5px 0px 5px 5px;
}
.widget-title-2 {
    font-size: 1em;
    margin: 5px 0px 5px 5px;
}
.widget-title-3{
    font-size: 0.8em;
    margin: 5px 0px 5px 5px;

}






